body, html {
    height:100%;
    margin:0;
    padding: 0;
    font-size:16px;
    font-family: "Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}

.nav {
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: right;
	padding: 20px 0 20px 0;
}

.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 14px;
}

.nav > li > a {
	text-decoration: none;
	color: #000000;
}

.nav > li > a:hover {
	color: #c1c1c1;
}

.service1 {
	width: 22%;
	height: 322px;
	border: 1px solid #c1c1c1;
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
}

.service1 > p {
	font-size: 14px;
	color: #636363;
	max-width: 250px;	
}

.services {
	width: 100%;
	margin: 0 auto;
}

.services h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #c1c1c1;
	color: #ffffff;
	padding: 10px 0;
	margin: 0 -6px;
}

.image {
	max-width: 200px;
	margin: 15px 0 0 0;
}

.image:hover {
	opacity: 0.2;
	max-width: 200px;
	margin-top: 15px;
}

.heading {
	text-align: center;
	font-size: 25px;
	color: #c1c1c1;
	margin: 100px 0 50px 0;
}

#subtotal-title {
	font-size: 40px;
	margin-top: 50px;
}

.addtocartwrapper {
	left: 50%;
}


#vat, #total, #subtotal, #discount, #user_pin, #email, #name {
	width: 25%;
	padding: 12px 20px;
	margin-top: 5px;
	border-radius: 8px;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 10px;
}

#btnCalculate {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #5CE3C2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btnProceed {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btnProceed:disabled {
	background-color: #c1c1c1; /* Green */
}

#btnPurchase {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btnPurchase:disabled {
	background-color: #c1c1c1;
}

#btnValidate {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #FF8D33;
	border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#clearchoice {
	color:#c1c1c1;
}

#subtotal-title {
	font-size: 20px;
}

input, select, textarea { 
	font-size: 15px;
	font-weight: bold;
}

#paymentdetails {
	font-size: 30px;
	font-weight: bold;
}

::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder {
   text-align: center;  
}
::-moz-placeholder {
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center; 
}

#email {
	padding-top: 10px;
}

#receipt {
	font-size: 40px;
	color: #18A6F2;
}

#receiptname {
	font-size: 20px;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

#receiptemail {
	font-size: 20px;
	text-align: left;
	padding-left: 15px;
}

#receiptprice {
	font-size: 20px;
	text-align: left;
	padding-left: 15px;
}

.receiptwrapper {
	border: 4px solid #18A6F2;
	margin: 20px 10px;
	width: 50%;
	height: 500px;
	margin-left: 25%;
	border-radius: 8px;
}

.receiptpricewrapper {
	border: 4px solid #18A6F2;
	height: 300px;
	margin: 0px -10px;
	width: 100%;
}

.cloudhomeimage {
    background-image:url('../images/sky.jpeg');
    min-height:100%;
    position:relative;
    -webkit-filter: saturate(120%); /* Safari */
    filter: saturate(120%);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#cloudhome-heading {
	font-size: 90px;
	color:#fff;
	position: absolute;
	top: 10%;
	margin-left: 35%;
}

#cloudhome-subheading {
	font-size: 40px;
	color:#fff;
	position: absolute;
	top: 35%;
	margin-left:20%;
}

.btnDisplayProducts {
	background-color: #fff;
	border-radius: 8px;
    border: none;
    color: #666;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 350px;
    font-family: 'Helvetica';
    font-weight: bold;
}

.location {
	margin-top: 100px;
}

#findushere {
	color: #666;
	margin-bottom: -120px;
	margin-top: 40px;
	font-size: 40px;
}

#contactinfo {
	color: white;
	font-size: 40px;
	margin-left: 0;
	padding-top: 100px;
	margin-bottom: 30px;
	font-weight: bold;
	text-align: center;
}

#contactinfo2 {
	color: white;
	font-size: 40px;
	margin-left: 0;
	padding-top: 20px;
	margin-bottom: 30px;
	font-weight: bold;
	text-align: center;
}

#emailandphone {
	color: #666;
	position: relative;
	margin-top: 60px;
	font-size: 40px;
}

.contactdetails {
	height: 300px;
	width: 100%;
	margin-top: 60px;
	background-color: #08B2FB;
}

.section{
    text-align: center;
    color: white;
}

    h1{
        font-size: 5em;
        font-family: arial,helvetica;
        color: #fff;
        margin:0;
        padding:0;
    }

    /* Centered texts in each section
    * --------------------------------------- */
.section {
    text-align:center;
}


    /* Backgrounds will cover all the section
    * --------------------------------------- */
#section1, #section2, #section3{
	background-size: cover;
}

		    /* Defining each section background and styles
		    * --------------------------------------- */
#section1 {
	background-image: url(../images/pattern1.jpeg);
}
#section2 {
	background-image: url(../images/pattern2.png);
	padding: 6% 0 0 0;
}
#section3 {
	background-image: url(../images/pattern3.jpeg);
	padding: 6% 0 0 0;
}
#section4 {
	background-image: url(../images/sky.jpeg);
	padding: 6% 0 0 0;
}
#section3 h1 {
	color: #000;
}



#cloudservices-title {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 18%;
	color: #fff;
	font-size:120px;
}

#cloudservices-subtitle1 {
	position: absolute;
	left: 0;
	right: 0;
	width: 600px;
	margin: 0 auto;
	top: 50%;
	color: #fff;
	font-size:20px;
	font-weight: bold;
	border: 4px solid #fff;
	border-radius: 8px;
	background-image: url(../images/pattern1.jpeg);
}

#cloudservices-subtitle2 {
	position: absolute;
	left: 0;
	right: 0;
	width: 600px;
	margin: 0 auto;
	top: 50%;
	color: #fff;
	font-size:20px;
	font-weight: bold;
	border: 4px solid #fff;
	border-radius: 8px;
	background-image: url(../images/tahiti.jpeg);
	background-position: bottom;

}

#cloudservices-subtitle3 {
	position: absolute;
	left: 0;
	right: 0;
	width: 600px;
	margin: 0 auto;
	top: 50%;
	color: #fff;
	font-size:20px;
	font-weight: bold;
	border: 4px solid #fff;
	border-radius: 8px;
	background-image: url(../images/pattern3.jpeg);
	background-position: bottom; 
}

#cloudservices-subtitle4 {
	position: absolute;
	left: 0;
	right: 0;
	width: 600px;
	margin: 0 auto;
	top: 50%;
	color: #fff;
	font-size:20px;
	font-weight: bold;
	border: 4px solid #fff;
	border-radius: 8px;
	background-image: url(../images/sky.jpeg);
	background-position: center; 
}

#section2 .intro {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 30px;
}
#section1 h1, #section1 p {
	text-shadow: 1px 5px 20px #000;
}
#section2 h1, #section2 p {
	text-shadow: 1px 5px 20px #000;
}

#section3 h1, #section3 p {
	text-shadow: 1px 5px 20px #000;
	color: #fff;
}

#infoMenu li a {
	color: #fff;
}

#section1{
   background-color: rgb(238, 0, 90);
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}

.btnCloudServices {
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 8px;
    border: none;
    color: #666;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2%;
    margin-top: 250px;
    font-family: 'Helvetica';
    font-weight: bold;
}

.btnCloudServices a {
    text-decoration: none;
}

#receiptthankyou {
	color: #3DDF50;
}

#cloudiologo {
	width: 150px;
	margin-top: -20px;
}

.saaspaas {
	margin-top: 5%;
}

.iaascaas {
	padding-top: 50px;
}


.saas {
	width: 300px;
	margin-left: 15%;
}

.iaas {
	width: 300px;
	margin-left: 15%;
}

.paas {
	width: 300px;
	margin-left: 61%;
	margin-top: -465px;
}

.caas {
	width: 300px;
	margin-left: 61%;
	margin-top: -525px;
}

.aboutcloud-header {
	text-align: center;
}

.aboutcloud-image {
	padding-left: 40px;
}

.aboutcloud-p {
	text-align: center;
	font-size: 14px;
}

.aboutcloud {
	margin-bottom: 100px;
}

.btnSaas {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 70px;
	background-color: #3aa5e9;
	border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btnPaas {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 70px;
	background-color: #f87a9d;
	border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btnIaas {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 70px;
	background-color: #ffa47c;
	border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btnCaas {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 70px;
	background-color: #4adaba;
	border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


@media(max-width:568px){
    .paas {
    	margin-left: 5%;
    	padding-top: 550px;
    }

    .caas {
    	margin-left: 5%;
    	padding-top: 550px;
    }

    .saas {
    	margin-left: 5%;
    }

    .iaas {
    	margin-left: 5%;    }

    .nav {
	padding: 10px 0 10px 0;
	}

	.nav > li {
	display: inline-block;
	padding: 0 10px 0 10px;
	font-size: 14px;
	}

	.nav > li > a {
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	}

	.nav > li > a:hover {
	color: #c1c1c1;
	}

	#cloudiologo {
		width: 150px;
		margin-top: -20px;
		color: #000000;
		float: left;
		padding-left: 25px;
		font-size: 16px;
		font-weight: bold;
	}

	#cloudhome-subheading {
    	margin-left: 8%;
    	font-size: 25px;
    }

    #cloudhome-heading {
    	margin-left:17%;
    	font-size: 70px;
    }

    .image {
    	width: 60%;
    }

    	#vat, #subtotal, #discount, #user_pin, #email, #name {
	width: 35%;
	padding: 8px 17px;
	margin-top: 2px;
	margin-bottom: 0px;
	}

	#total {
	width: 35%;
	padding: 8px 17px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 115px;
	}

	#btnProceed {
	margin-left: 115px;
	}

	#cloudservices-title {
        font-size: 50px;
    }

    #cloudservices-subtitle1 {
    	font-size: 15px;
    	width: 300px;
    }

    #cloudservices-subtitle2 {
    	font-size: 15px;
    	width: 300px;
    }

    #cloudservices-subtitle3 {
    	font-size: 15px;
    	width: 300px;
    }

    #cloudservices-subtitle4 {
    	font-size: 15px;
    	width: 300px;
    }
}

@media screen and (max-width:970px) and (min-width: 568px){
    .saas {
    	margin-left: 5%;
    }

    .paas {
    	margin-left: 50%;
    }

    .caas {
    	margin-left: 50%;
    }

    .iaas {
    	margin-left: 5%;
    }

    #cloudhome-subheading {
    	margin-left: 3%;
    }

    #cloudhome-heading {
    	margin-left:28%;
    }

    .image {
    	width: 60%;
    }

    .services h1 {
		font-size: 14px;
	}

	.service1 {
		height: 300px;
	}

	#vat, #subtotal, #discount, #user_pin, #email, #name {
	width: 35%;
	padding: 8px 17px;
	margin-top: 2px;
	margin-bottom: 0px;
	}

	#total {
	width: 35%;
	padding: 8px 17px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 185px;
	}

	#btnProceed {
	margin-left: 185px;
	}

	.addtocart-wrapper {
		width: 600px;
	}

	#cloudservices-title {
        font-size: 80px;
    }

}