body, html {
    height:100%;
    margin:0;
    padding: 0;
    font-size:16px;
    font-family: "Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}

.row {
    margin-right: -15px;
}

#section1{
   background-color: rgb(238, 0, 90);
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}

.cv-image {
    background-image:url('../images/wavebg.jpeg');
    min-height:100%;
    position:relative;
    opacity:0.90;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.aboutme-image {
    background-image:url('../images/wavebg.jpeg');
    min-height:10%;
    position:relative;
    opacity:0.90;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.homepage-image {
    background-image:url('../images/workbg.jpeg');
    min-height:33.3%;
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-filter: saturate(120%); /* Safari */
    filter: saturate(120%);
    overflow:hidden;
}

.homepage-image:hover {
    -webkit-filter: saturate(150%); /* Safari */
    filter: saturate(150%);
}

.sportortravel-image {
    background-image:url('../images/surfing.jpg');
    min-height:33.3%;
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-filter: saturate(120%); /* Safari */
    filter: saturate(120%);
    overflow:hidden;
}

.sportortravel-image:hover {
    -webkit-filter: saturate(200%); /* Safari */
    filter: saturate(200%);
    -webkit-filter: contrast(120%); /* Safari */
    filter: contrast(120%);
}

.sportortravel-image2:hover {
    -webkit-filter: saturate(200%); /* Safari */
    filter: saturate(200%);
    -webkit-filter: contrast(120%); /* Safari */
    filter: contrast(120%);
}

.sportortravel-image3:hover {
    -webkit-filter: saturate(200%); /* Safari */
    filter: saturate(200%);
    -webkit-filter: contrast(120%); /* Safari */
    filter: contrast(120%);
}

.sportortravel-image2 {
    background-image:url('../images/sanfran.jpeg');
    min-height:33.3%;
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-filter: saturate(120%); /* Safari */
    filter: saturate(120%);
    overflow:hidden;
}

.sportortravel-image3 {
    background-image:url('../images/cloudbg.jpeg');
    min-height:33.3%;
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-filter: saturate(120%); /* Safari */
    filter: saturate(120%);
    overflow:hidden;
}

.sportortravel-image:hover > #homepage-title a {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.sportortravel-image2:hover > #homepage-title a {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.sportortravel-image3:hover > #homepage-title a {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}


#homepage-title a {
    position: absolute;
    top:40%;
    width:100%;
    text-align:center;
    color:#fff;
    font-size:27px;
    letter-spacing:4px;
    border:0;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}

.homepage-image:hover > #homepage-title a {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.homepage-image2:hover > #homepage-title a {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.homepage-image3:hover > #homepage-title a {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.homepage-image2 {
    background-image:url('../images/wavebg.jpeg');
    min-height:33.3%;
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-filter: saturate(120%); /* Safari */
    filter: saturate(120%);
    overflow:hidden;
}

.homepage-image2:hover {
    -webkit-filter: saturate(200%); /* Safari */
    filter: saturate(200%);
}

.homepage-image3 {
    background-image:url('../images/cloudbg.jpeg');
    min-height:33.3%;
    position:relative;
    opacity:0.80;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-filter: saturate(120%); /* Safari */
    filter: saturate(120%);
    overflow:hidden;
}

.homepage-image3:hover {
    -webkit-filter: saturate(200%); /* Safari */
    filter: saturate(200%);
}

.cv-title {
    position: absolute;
    top:20%;
    width:100%;
    text-align:center;
    color:#fff;
    font-size:27px;
    letter-spacing:8px;
}

.navbar {
    padding-top: 100px;
    margin: auto;
    width: 540px;
}

.nav {
    display: inline-block;
    padding: 20px 0 20px 0;
}

.nav > li > a {
    padding-right: 40px;
    color: #fff;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/menutoggle.png");
  background-repeat: no-repeat;
  width:36px;
  height:36px;
  margin-left: 200px;
}

.navbar-dark > .navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/menutoggle.png");
  background-repeat: no-repeat;
  width:36px;
  height:36px;
  margin-left: 200px;
}

.aboutme-heading {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    padding-bottom: 40px;
}

.aboutme-subheading {
    color: #fff;
    padding-bottom: 20px;
    font-size: 16px;
}

.aboutme-paragraph {
    color: #fff;
    padding-bottom: 50px;
    font-size: 26px;
    font-weight: bold;
}

.wrapper {
    background-color: #f05f40;
    height: 450px;
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

.wrapper-skills {
    padding-top: 50px;
    padding-bottom: 200px;
}

.section{
    text-align: center;
    color: white;
}

h1 {
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
}

    /* Centered texts in each section
    * --------------------------------------- */
.section {
    text-align:center;
}


    /* Backgrounds will cover all the section
    * --------------------------------------- */
#section1,#section2,#section3 {
    background-size: cover;
}

    /* Defining each section background and styles
    * --------------------------------------- */
    #section1 {
        background-image: url(../images/spain.jpeg);
    }
    #section2 {
        background-image: url(../images/tahiti.jpeg);
        padding: 6% 0 0 0;
    }
    #section3 {
        background-image: url(../images/sanfran.jpeg);
        padding: 6% 0 0 0;
    }
    #section3 h1 {
        color: #000;
    }



    #spain-title {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40%;
        color: #fff;
        font-size:100px;
    }

    #spain-subtitle {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 20%;
        color: #fff;
        font-size:15px;
    }

    #section2 .intro {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 30px;
    }
    #section2 h1,
    #section2 p {
        text-shadow: 1px 5px 20px #000;
    }

    #section3 h1,
    #section3 p {
        text-shadow: 1px 5px 20px #000;
        color: #fff;
    }

    #infoMenu li a {
        color: #fff;
    }

.sports-header-image {
    background-image: url(../images/hashpointseq.jpg);
    min-height: 50%;
    position:relative;
    margin-top: 50px;
    background-position:bottom;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.sports-header-image2 {
    background-image: url(../images/barleycove.jpg);
    min-height: 50%;
    position:relative;
    opacity:0.70;
    margin-top: 0px;
    background-position:bottom;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.sports-header-image3 {
    background-image: url(../images/morocco.jpg);
    min-height: 50%;
    position:relative;
    margin-top: 50px;
    background-position:bottom;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#sports-header-title {
    font-size: 100px;
    color:#000;
    margin-top: 50px;
}

#barleycove {
    font-size: 50px;
    padding-top: 50px;
    padding-left: 10px;
}

#morocco {
    font-size: 50px;
    padding-top: 50px;
    padding-left: 10px;
}

#sports-paragraph {
    color: #fff;
    font-weight: bold;
    width: 800px;
    margin-left: 18%;
    padding-top: 90px;
    font-size: 30px;
}

#sport-board1 {
    color: #fff;
    font-weight: bold;
    margin-left: 37%;
    padding-top: 50px;
    font-size: 90px;
}

#sport-board2 {
    color: #fff;
    font-weight: bold;
    margin-left: 14%;
    padding-top: 90px;
    font-size: 50px;
}

.circlewindow {
    margin-top: 50px;
    margin-left: 30%;
    height: 500px;
    width: 500px;
    background-image: url(../images/inchwalk.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border-radius: 50%;
}

.sports-video {
    background-color: #0AA6BC;
    height: 520px;
    margin-top: 100px;

}

#surfvideo {
    margin-left: 22%;
    margin-top: 50px;
}

#cvface {
    position: fixed;
    bottom: 0px;
    left: 40%;
}

#js {
    width: 100px;
    margin-left: 40%;
    transition: all .2s ease-in-out;
}

#js:hover {
    transform: scale(1.2);
}

#vb {
    width: 50px;
    margin-left: 50%;
    margin-top: -50px;
    transition: all .2s ease-in-out;
}

#vb:hover {
    transform: scale(1.2);
}

#php {
    width: 80px;
    margin-left: 50%;
    margin-top: -50px;
    transition: all .2s ease-in-out;
}

#php:hover {
    transform: scale(1.2);
}

#css {
    width: 50px;
    margin-left: 40%;
    padding-bottom: 20px;
    transition: all .2s ease-in-out;
}

#css:hover {
    transform: scale(1.2);
}

#ps {
    width: 80px;
    margin-left: 40%;
    transition: all .2s ease-in-out;
}

#ps:hover {
    transform: scale(1.2);
}

#html {
    width: 60px;
    margin-left: 50%;
    margin-top: -50px;
    transition: all .2s ease-in-out;
}

#html:hover {
    transform: scale(1.2);
}

.app-wrapper {
    margin-top: 200px;
}

#services {
    background-image: url(https://www.beautycolorcode.com/267a86-2880x1800.png);
    height: 350px;
}

.masthead {
    background-image: url(../images/pink.jpeg);
    background-size: cover;
    height: 100%
}

.aboutme-header {
    color:#fff;
    font-size: 90px;
}

.aboutme-subheader {
    color:#fff;
    font-size: 50px;
}

.traits-title {
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
}

.traits-subtitle {
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 50px;
}

#timeline-header {
    margin-left: 32%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: bold;
}

#email, #phone {
    font-weight: bold;
}


@media(max-width:970px){
    .app-wrapper {
    display: none;
}
    .navbar-light .navbar-toggler .navbar-toggler-icon {
        margin-left:150px;
    }

    #sports-paragraph {
        width: 600px;
        padding-bottom: 50px;
        margin-left: 15%;
    }

    .circlewindow {
        margin-left: 20%;
    }

    #surfvideo {
        width: 90%;
        margin-left: 30px;
    }
}

@media(max-width:568px){
    .app-wrapper {
    display: none;
}
    .navbar-light .navbar-toggler .navbar-toggler-icon {
        margin-left:150px;
    }

    #spain-title {
        font-size: 50px;
    }

    #surf-video {
        display: none;
    }
    
    #email, #phone {
        font-weight: bold;
    }
    
    .nav > li > a {
    padding-right: 50px;
    color: #fff;
    font-size: 12px;
    }
    
}
